# Виртуальное окружение
venv/
env/
.venv/

# Файлы базы данных
*.db
*.sqlite

# Миграции Alembic (содержат версии, но их можно коммитить, обычно коммитят)
# migrations/   - раскомментировать, если не хотите коммитить миграции

# Файлы IDE
.vscode/
.idea/
*.pyc
__pycache__/

# Логи
*.log

# Переменные окружения
.env
